<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>search result</title>
</head>
<body>
<!--<script language="javascript">-->
    <!--lis={{imgpath}}-->
    <!--for(var i=0;i<lis.length;i++)-->
    <!--{-->
    <!--document.write(lis[i]);-->
    <!--document.write("<img src='"+lis[i]+"'>");-->
    <!--}-->
<!--</script>-->

<!--<img src="{{url_for('static',filename=string({{imgpath[0}})}}">-->
<img src="../static/万科企业股份有限公司关系图.png">

<!--<img src="/static/"+string({{imgpath[0}})>-->




</body>
</html>